#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

# DH_VERBOSE = 1
#export GOPATH = /usr/share/gocode
export PAM_MODULE_DIR = usr/lib/$(DEB_HOST_MULTIARCH)/security
export PKG_FILE_DIR = usr/lib/pkgconfig
export GO111MODULE = off
export GOCACHE=/tmp/

ifneq ($(DEB_BUILD_ARCH), mips64el)
	export GOBUILD_OPTIONS=-ldflags '-linkmode=external -extldflags "-pie"'
endif

%:
	dh $@

override_dh_link:
	dh_link -plibdeepin-pw-check-dev usr/lib/libdeepin_pw_check.so.1 \
		usr/lib/libdeepin_pw_check.so
	dh_link -plibdeepin-pw-check usr/lib/libdeepin_pw_check.so.1.1 \
		usr/lib/libdeepin_pw_check.so.1

override_dh_auto_install:
	dh_auto_install
	dh_installtmpfiles deepin-pw-check.tmpfiles